* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    font-size: 1rem;
    font-family: "Smythe", sans-serif;
    background-color: #c4c4c4;
}

.container {
    background-color: mediumseagreen;
    width: 100vw;
    max-width: 450px;
    margin: 0 auto;
    padding: 0px 2em;
    background-color: #F5F5F5;
}

.page-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* TYPOGRAPHY */

h1 {
    margin: 0;
}

.header-subtitle {
    margin: 0;
}

.shopping-cart-item-title,
.item-info-title,
.shopping-cart-title,
.total-price-text {
    font-size: 1.75rem;
}

.item-ingredients {
    color: #8B8B8B;
    margin: .25em 0 .85em;
}

.item-price {
    margin: 0;
}

.item-price,
.shopping-cart-item-price,
.total-price {
    font-size: 1.25rem;
}

.item-info h2{
    margin: 0;
    padding: 0;
}

.shopping-cart-item-remove {
    font-family: Verdana, sans-serif;
    font-size: .75rem;
    color: #BBBBBB;
    cursor: pointer;
}

/* HEADER */

.header {
    background-image: url("https://images.unsplash.com/photo-1616645500344-209060c84970?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom -50px center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 120px;
    color: white;
}





/* ITEM-CARD */

.item {
    display: flex;
    align-items: center;
    padding: 1.5em 0;
    border-bottom: 1px solid grey;
}

.item-logo {
    font-size: 4em;
    margin: 0;
    transform: scale(1);
    transition: transform 250ms;
}

.item-logo:hover,
.item-logo:focus {
    transform: scale(1.2);
}

.item-info {
    width: 100vw;
    padding-left: 1em;
}



.add-btn {
    border-radius: 70%;
    border: 1px solid #DEDEDE;
    font-size: 1em;
    padding: 1em 1.25em;
    transition: background-color 250ms;
    cursor: pointer;

}

.add-btn:hover,
.add-btn:focus {
    background-color: white;
}



/* shopping cart */

.order {
    padding-bottom: 2em;
    flex: 1;
}

.shopping-cart-item {
    align-items: center;
    display: flex;
    gap: .5em;
    padding: .3em 0;
}

.shopping-cart-item *{
    margin: 0;
}

.shopping-cart-title {
    text-align: center;
    margin: 0;
    padding-top: 1em;
}

.shopping-cart-item-price {
    margin-left: auto;
}

.complete-order-btn {
    display: block;
    width: 100%;
    border: none;
    background: #16DB99;
    color: white;
    padding: 1em 0;
}

.total-price-wrapper {
    display: flex;
    border-top: 3px solid black;
    align-items: center;
    padding: .3125em 0 1em;
}

.total-price-wrapper *{
    margin: 0;
}

.total-price {
    margin-left: auto;
}